body {
  background-image: url('/xa.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.brand {
  background-color: black;
  display: flex;
  height: 5vh;
}
.firstname {
  color: white;
  font-size: 20px;
  font-family: Georgia;
}
.lastname {
  color: red;
  font-size: 19px;
  font-family: Sans-Serif;
  margin-left: 4px;
}
h1 {
  color: white;
  font-family: cursive;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: silver;
  text-align: center;
}
.card {
  background: rgba(white,0.2);
  backdrop-filter: blur(12px);
  -webkit-backgdrop-filter:blur(12px)
  
  width: 100%;
  max-width: 347px;
  padding: 30px;
  height: 40vh;
  background-attachment: fixed;
  border-radius: 18px;
  border: 1px solid rgba(white,0.3);
  
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  justify-content: center;
  align-self: center;
  text-align: center;
  color: white;
  transition: transform 0.3s ,box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}
.M {
  text-align: center;
  color: white;
  height: 1vh;
}
.N {
  text-align: center;
  height: 10vh;
}
.parag {
  color: white;
  font-family: Georgia;
  font-size: 20px;
  text-align: left;
}
.nof {
  color: white;
  font-family: Georgia;
  font-size:20px;
  text-align: left;
}
.btn-ortu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-m {
  background: linear-gradient(to right,silver,grey,silver);
  border: none;
  border-radius: 12px;
  font-size:20px;
  font-family: Georgia;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.5s ease;
  
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
  -webkit-user-select:none;
  -ms-user-select:none;
}
.btn-m:active {
  color: pink;
  transform: translateY(4px);
  background: linear-gradient(to right,grey,white,silver);
  box-shadow: 0 30px 50px rgba(0,0,0,0.5);
}
.icon {
  margin-right: 6px;
}